{{!-- Navbar --}}
  <nav class = "nav-home">
    <div class="nav-wrapper">
      <img src="css/logotech.png" class = "img-home">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class = "nav-li" href="/login">Home</a></li>
        <li><a class = "nav-li" href="/create">Create a Post</a></li>
        {{#if logged_in}}
        <li><button class="btn" id="logout">logout</button></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

{{!-- Blog --}}
<h3 class = "newest-posts">Newest Posts</h3>
{{#each blogs as |blog| }}
<div class="blog-container">
  <div class="blog-title">
    <h4><a id = "blog-anc" href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
  </div>
  <div class="blog-description">
    <p>{{blog.description}}</p>
  </div>
  <div class="blog-user">
    <p class = "posted-by">Posted by: {{blog.user.name}}</p>
  </div>
  {{#each blog.comments as |comment| }}
  <p class = "comment-p">{{comment.comment}}</p>
  <p class ="comm-by"> Comment by: {{comment.user.name}}</p>
  {{/each}}
</div>
</div>
{{/each}}

